html, body {
  margin: 0;
  padding: 0;
}

h2{
    color: darkred;
    font-family: fantasy;
    font-weight: 200;
    display: block;
}

body{
    background-color: black;
    margin: 0;
    padding: 0;
}

main{
    text-align: center;
    position: relative;
    top: 50px;
}

img{
    width: 300px;
    height: 400px;

}

header {
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 1;
  display: inline-block;
  margin-top: 0px;
  top: 0px;
  left: 0px;
}

nav{
    margin: 0;
}

nav a {
    color: darkred;
    font-family: fantasy;
    font-weight: 350;
    font-size: 15px;
    display: inline;
    padding: 0px 5px;
    width: 55px;
}

#stretch{
    width: 400px;
    height: 400px;

}