#Momma {
    width: 300px;
    height: 400px;

}

header {
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 1;
  margin-top: 0px;

}

nav{
    margin: 0;
}

nav a {
    color: darkred;
    font-family: fantasy;
    font-weight: 350;
    font-size: 15px;
    display: inline;
    padding: 0px 5px;
    width: 55px;
}

main {
    text-align: center;
    position: relative;
    z-index: 0;
    top: 80px;
}

h1{
    color:darkred;
    border: solid darkred;
    background-color: black;

}